*{
    margin :0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100vh;
    width: 100vw;
    background: #eee;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: 80px 80px;
    place-content: center;
    gap: 1rem;
    margin: auto;
    position: relative;

}

.sect span{
    position:relative;
    left:30%;
    transform: translateX(-50%);
}

.sect h1{
    white-space: nowrap;
}
.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1;

}

.middle{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    margin-bottom: 1rem;

}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}